<section id="portfolio" class="main-width-x-medium main-height-large">
  <header>
    <h1 class="cover-heading">Selected work</h1>
  </header>
  <div class="container">

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <a href="http://arimor-consulting.de/">
          <%= image_tag "paulld-portfolio-arimorc.jpg", :class => "img-responsive", :alt => "Arimor Consulting - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Arimor Consulting</h2>
        <p class="portfolio-description">
          New company website, custom design, multi-language, dedicated CMS.
        </p>
        <p class="portfolio-tools">
          <u>Frameworks &amp; Database</u>: 
          <a class="portfolio-link" href="http://nodejs.org/">Node.JS</a>, 
          <a class="portfolio-link" href="https://angularjs.org/">AngularJS</a>,
          <a class="portfolio-link" href="http://www.mongodb.org/">MongoDB</a>.
        </p>
        <p class="portfolio-tools">
          <u>Languages</u>: 
          <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript"><a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a></a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a>, 
          <a class ="portfolio-link" href="http://sass-lang.com/">SCSS</a>, 
          Responsive Design.
        </p>
        <a class="btn btn-md btn-default" href="http://arimor-consulting.de/">
          View Project <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <!-- <a href="http://blog.digit.co/"> -->
          <%= image_tag "paulld-portfolio-keneo.jpg", :class => "img-responsive", :alt => "Keneo - screenshot" %>
        <!-- </a> -->
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Keneo Sport Solutions</h2>
        <p class="portfolio-description">
          Redesigned the internal reporting website.
        </p>
        <p class="portfolio-tools">
          <u>Languages &amp; Libraries</u>: 
          <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript"><a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a></a>, 
          <a class="portfolio-link" href="http://jquery.com/">jQuery</a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS3</a>, 
          Responsive Design.
        </p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <a href="http://blog.digit.co/">
          <%= image_tag "paulld-portfolio-digit.jpg", :class => "img-responsive", :alt => "Glimmer - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Digit Blog</h2>
        <p class="portfolio-description">
          Development of a custom Tumblr Theme for the Digit Blog.
        </p>
        <p class="portfolio-tools">
          <u>Languages &amp; Libraries</u>: 
          <a class="portfolio-link" href="https://www.tumblr.com/docs/en/custom_themes">Tumblr Custom Theme</a>, <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript"><a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a></a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS3</a>.
        </p>
        <p class="portfolio-tools">
          <u>Design Tools</u>: 
          <a class="portfolio-link" href="http://bohemiancoding.com/sketch/">Sketch</a>, 
          <a class="portfolio-link" href="http://www.invisionapp.com/">Invision</a>.
        </p>
        <a class="btn btn-md btn-default" href="http://blog.digit.co/">
          View Project <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <a href="">
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Altitude Labs</h2>
        <p class="portfolio-description">
          Development of an internal software for a design agency.
          <br>
          Sorting algorithm and extensive use of Scalable Vector Graphics.
        </p>
        <p class="portfolio-tools">
          <u>Frameworks &amp; Database</u>: 
          <a class="portfolio-link" href="http://nodejs.org/">Node.JS</a>, 
          <a class="portfolio-link" href="https://angularjs.org/">AngularJS</a>,
          <a class="portfolio-link" href="http://www.mongodb.org/">MongoDB</a>.
        </p>
        <p class="portfolio-tools">
          <u>Languages &amp; Tools</u>: 
          <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript"><a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a></a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS3</a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/SVG/">SVG</a>.
        </p>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <a href="http://paul.lugagnedelpon.com/glimmer/">
          <%= image_tag "paulld-portfolio-glimmer.jpg", :class => "img-responsive", :alt => "Glimmer - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Glimmer</h2>
        <p class="portfolio-description">
          Glimmer is an eye-tracking app that allows fully immobile patients (due to ALS, SMA, stroke, spinal injury etc.) to communicate via eye movement. Glimmer works with any browser and camera.
        </p>
        <p class="portfolio-description">
          Winner of the 2014 Hacking Health hackathon in Hong Kong.
        </p>
        <p class="portfolio-tools">
          <u>Languages &amp; Libraries</u>: 
          <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript"><a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a></a>, 
          <a class="portfolio-link" href="https://github.com/wallarelvo/camgaze.js">Camgaze.js</a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS</a>.
        </p>
        <a class="btn btn-md btn-default" href="http://paul.lugagnedelpon.com/glimmer/">
          View Project <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6 text-center">
        <a href="https://github.com/paulld/prediktapp">
          <%= image_tag "paulld-portfolio-predikt.jpg", :class => "img-responsive", :alt => "Predikt - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>Predikt</h2>
        <p class="portfolio-description">
          Predikt is a sports bet simulation app. Users can use in-game currency to practice their 
          gambling skills, test strategies, interact with other users, and share betting tips.
        </p>
        <p class="portfolio-tools">
          <u>Frameworks, Database &amp; Others</u>: 
          <a class="portfolio-link" href="http://rubyonrails.org/">Ruby on Rails</a>, 
          <a class="portfolio-link" href="https://angularjs.org/">AngularJS</a>, 
          <a class="portfolio-link" href="http://www.postgresql.org/">PostgreSQL</a>, 
          built-in JSON API following the 
          <a class="portfolio-link" href="http://jsonapi.org/">json:api</a> 
          standard, built-in authentification process.
        </p>
        <p class="portfolio-tools">
          <u>Languages</u>: 
          <a class="portfolio-link" href="https://www.ruby-lang.org/en/">Ruby</a>, 
          <a class="portfolio-link" href="http://coffeescript.org/">CoffeeScript</a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a> / 
          <a class="portfolio-link" href="http://slim-lang.com/">Slim</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS3</a> / 
          <a class="portfolio-link" href="http://learnboost.github.io/stylus/">Stylus</a>, 
          Responsive Design.
        </p>
        <a class="btn btn-md btn-default" href="https://github.com/paulld/prediktapp">
          View Repo <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <a href="http://artypedia.herokuapp.com/">
          <%= image_tag "paulld-portfolio-artypedia.jpg", :class => "img-responsive", :alt => "ArtyPedia - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>ArtyPedia</h2>
        <p class="portfolio-description">
          Artypedia is a Wiki-like Art library project. It aims at gathering in one place 
          all major artists, and referencing them to their complete list of artworks. 
          It currently concentrates on modern art.
        </p>
        <p class="portfolio-tools">
          <u>Framework</u>: 
          <a class="portfolio-link" href="http://emberjs.com/">Ember.js</a>, 
          using the 
          <a class="portfolio-link" href="https://github.com/stefanpenner/ember-cli">Ember-CLI</a> 
          executable.
        </p>
        <p class="portfolio-tools">
          <u>Languagues</u>: 
          <a class="portfolio-link" href="http://coffeescript.org/">CoffeeScript</a>, 
          <a class="portfolio-link" href="http://emberscript.com/">EmberScript</a>, 
          <a class="portfolio-link" href="http://emblemjs.com/">Emblem</a>, 
          <a class="portfolio-link" href="http://learnboost.github.io/stylus/">Stylus</a>.
        </p>
        <a class="btn btn-md btn-default" href="http://artypedia.herokuapp.com/">
          View Project <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
        <a class="btn btn-md btn-default" href="https://github.com/paulld/artypedia-embercli">
          View Repo <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <a href="https://github.com/paulld/chattr">
          <%= image_tag "paulld-portfolio-chattr.jpg", :class => "img-responsive", :alt => "Chattr - screenshot" %>
        </a>
     </div>
      <div class="col-lg-6 col-md-5">
        <h2>Chattr</h2>
        <p class="portfolio-description">
          Chattr is Chat application running on Meteor, part of an open-source 
          course management system. It allows creating archivable vs. temporary chatrooms, 
          sharing links, code snippets, and files. Requires GitHub authentification.
        </p>
        <p class="portfolio-tools">
          <u>Framework &amp; Database</u>: 
          <a class="portfolio-link" href="https://www.meteor.com/">Meteor.js</a>, 
          <a class="portfolio-link" href="http://www.mongodb.org/">MongoDB</a>.
        </p>
        <p class="portfolio-tools">
          <u>Languages</u>: 
          <a class="portfolio-link" href="http://coffeescript.org/">CoffeeScript</a>, 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML5</a>, 
          <a class="portfolio-link" href="http://learnboost.github.io/stylus/">Stylus</a> / 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS3</a>, 
          <a class ="portfolio-link" href="http://lesscss.org/">Less</a>, 
          Responsive Design.
        </p>
        <a class="btn btn-md btn-default" href="https://github.com/paulld/chattr">
          View Repo <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-lg-6 col-md-6">
        <a href="http://clemencetorres.com/">
          <%= image_tag "paulld-portfolio-clemencetorres.jpg", :class => "img-responsive", :alt => "ClemenceTorres - screenshot" %>
        </a>
      </div>
      <div class="col-lg-6 col-md-5">
        <h2>ClemenceTorres</h2>
        <p class="portfolio-description">
          Portfolio website for French artist Clémence Torres.
        </p>
        <p class="portfolio-tools">
          <u>Languages</u>: 
          <a class="portfolio-link" href="http://www.w3.org/TR/html5/">HTML</a>, 
          <a class ="portfolio-link" href="http://www.w3.org/Style/CSS/">CSS</a>, 
          <a class="portfolio-link" href="https://developer.mozilla.org/en-US/docs/Web/javascript">JavaScript</a>.
        </p>
        <a class="btn btn-md btn-default" href="http://clemencetorres.com/">
          View Project <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
  </div>
</section>
