<div class="head-small">
  <div class="inner" role="navigation">
    <div class="pld-logo">
      <h1 class="sr-only">paul ld | web development</h1>
      <%= image_tag 'paulld-logo-webdev.svg' %>
    </div>
    <ul id="header-navlinks" class="nav masthead-nav" role="menubar">
      <li role="presentation" class="<%= is_active?(root_path)%>"><%= link_to "Biography", root_path %></li>
      <!-- <li role="presentation" class="<%= is_active?(portfolio_path)%>"><#%= link_to "Portfolio", portfolio_path %></li>
      <li role="presentation" class="<%= is_active?(skillset_path)%>"><#%= link_to "Skillset", skillset_path %></li> -->
      <li role="presentation" class="<%= is_active?(contact_path)%>"><%= link_to "Contact", contact_path %></li>
      <!-- <li role="presentation" class="<%= is_active?(contact_path)%> <#% if "contacts".include?(params[:controller])%><#%= "active" %><#% end %>"><#%= link_to "Contact", contact_path %></li> -->
    </ul>
  </div>
</div>
